body {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    font-family: 'popins', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 90%;
    height: 80%;
    border: 1px solid #000;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        34deg,
        rgba(0, 0, 0, 1) 8%,
        rgba(0, 0, 0, 1) 10%,
        rgba(5, 33, 9, 1) 80%,
        rgba(10, 142, 44, 0.770773638968481) 140%
    );
    color: #fff;
    font-family: 'popins', sans-serif;
    gap: 15px;
}
form .mini_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    height: 90px;
    width: 90%;
    background: transparent;
}
form .mini_container label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 2rem;
    transition: 0.5s;
    color: #45f3ff;
    pointer-events: none;
    
}
form .mini_container:hover label {
    
    color: #8f8f8f;
    transform: translateX(10px) translateY(-24px);
    transition: 0.5s;
    font-size: 0.79em;
    top: 0;
}
form .mini_container input {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12pt;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

form .mini_container1-botton  button {
    padding: 22px 30px;
    color: #45f3ff;
    border-radius: 5px;
    pointer-events: none;
    border: none;
    outline: 0;
    
    box-shadow: 0 0 10px, #2196f3 
    0 0 20px #45f3ff,
    0 0 80px #45f3ff;
}
form .mini_container1-botton:hover button{
    box-shadow: 0 0 10px, #2196f3 
    0 0 20px #45f3ff,
    0 0 80px #45f3ff;
}

.mini_container1-botton {
    /* background-color: #2196f3; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container {
    
    color: #8f8f8f;
    width: 85%;
    height: 80px;
    gap: 10px;
    padding-left: 30px;
}


.div-password {
    width: 90%;
    height: 60px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12pt;
    border: none;
    outline: none;
    background-color: #2196f3;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    
}

.div-password img {
   width: 28px;
   cursor: pointer;
   color: #2196f3
}

form {
    animation-name: fede;
    animation-duration: 500ms;
}

@keyframes  fede {
    form {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

form input {
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 0.250ms;
}

@keyframes  move {
    form {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}